@inject IAudioPlayer audioPlayer;
@inject IPlaylistService playlistService;

<div class="background" hidden="@(!IsPlaylistWindowVisible)"></div>

<div class="audio-player">
    <div class="playlist" hidden="@(!IsPlaylistWindowVisible)">
        <div class="container-fluid fill">
            <div class="row fill m-0">
                <div class="col-lg-6 p-1 content-center playlist_box">     
                    <div class="playlist_image" style='background-image: url("@Playlist.CoverUrl")' />
                    <h3 class="playlist_title p-2">@Playlist.Title</h3>
                </div>
                <!-- TODO: Implement function to switch to desired song -->
                <div class="col-lg-6 p-1 content-vertical-center playlist_box">
                    <ul class="playlist_list list-group-flush m-1 mr-lg-5">
                        @foreach (var song in Playlist.Songs)
                        {
                            <li class="list-group-item" @onclick="PlayCurrentSong">
                                <span class="font-weight-bold">@song.Title</span>
                                <br />
                                <span>@song.Author</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="song_panel">
        <div class="song_info pt-4">
            <h2>@Playlist.CurrentSong.SongFullName</h2>
            <!-- TODO: Get elapsed time -->
            <p class="song_timeleft">00:00</p>
            <div class="progressbar_slide">
                <input type="range" min="0" max="100" value="0" @onchange="RewindSong" />
            </div>
        </div>
        <div class="song_controls m-4">
            <div class="controls_plays">
             
                <div id="prev_btn" @onclick="PreviousSong">
                    <i class="fas fa-2x fa-backward"></i>
                </div>
                @if (!IsSongPlaying)
                {
                    <div id="play_btn" @onclick="PlayCurrentSong">
                        <i class="fas fa-2x fa-play"></i>
                    </div>
                }
                else
                {
                    <div id="pause_btn" @onclick="PauseSong">
                        <i class="fas fa-2x fa-pause"></i>
                    </div>
                }
                <div id="next_btn" @onclick="NextSong">
                    <i class="fas fa-2x fa-forward"></i>
                </div>
            </div>
        </div>

        @if (!IsPlaylistWindowVisible)
        {
            <div id="extends_btn" @onclick="ShowPlaylist">
                <i class="fas fa-2x fa-level-up-alt"></i>
            </div>

        }
        else
        {
            <div id="extends_btn" @onclick="HidePlaylist">
                <i class="fas fa-2x fa-level-down-alt"></i>
            </div>
        }
    </div>
</div>

@code {
    bool IsPlaylistWindowVisible { get; set; }
    bool IsSongPlaying { get; set; }
    Playlist Playlist { get; set; }
    private bool IsSongAttachedToAudio { get; set; } = false;

    protected override void OnInitialized()
    {
        Playlist = playlistService.GetPlaylist();
    }

    private void ShowPlaylist(MouseEventArgs args) => IsPlaylistWindowVisible = true;

    private void HidePlaylist(MouseEventArgs args) => IsPlaylistWindowVisible = false;

    // TODO: This methods (below) should be placed in Player class

    private async Task PlayCurrentSong(MouseEventArgs args)
    {
        if (IsSongAttachedToAudio)
        {
            await audioPlayer.Replay();
        }
        else
        {
            await audioPlayer.Play(Playlist.CurrentSong.SongUrl);
            IsSongAttachedToAudio = true;
        }
        IsSongPlaying = true;
    }

    private async Task PauseSong(MouseEventArgs args)
    {
        await audioPlayer.Pause();
        IsSongPlaying = false;
    }

    private async Task NextSong(MouseEventArgs args)
    {
        Playlist.SwitchToNextSong();
        await audioPlayer.Play(Playlist.CurrentSong.SongUrl);
        IsSongPlaying = true;
    }

    private async Task PreviousSong(MouseEventArgs args)
    {
        Playlist.SwitchToPreviousSong();
        await audioPlayer.Play(Playlist.CurrentSong.SongUrl);
        IsSongPlaying = true;
    }

    private async Task RewindSong(ChangeEventArgs args)
    {
        if (IsSongAttachedToAudio)
        {
            int durationPercent = int.Parse(args.Value.ToString());
            await audioPlayer.SetTrackAtTime(durationPercent);
        }
    }
}
