@using System.Timers;
@inject IAudioPlayer audioPlayer;
@inject IPlaylistService playlistService;

<div class="background" hidden="@(!IsPlaylistWindowVisible)"></div>

<div class="audio-player">
    <div class="playlist" hidden="@(!IsPlaylistWindowVisible)">
        <div class="container-fluid fill">
            <div class="row fill m-0">
                <div class="col-lg-6 p-1 content-center playlist_box">
                    <div class="playlist_image" style='background-image: url("@Playlist.CoverUrl")' />
                    <h3 class="playlist_title p-2">@Playlist.Title</h3>
                </div>
                <!-- TODO: Implement function to switch to desired song -->
                <div class="col-lg-6 p-1 content-vertical-center playlist_box">
                    <ul class="playlist_list list-group-flush m-1 mr-lg-5">
                        @foreach (var song in Playlist.Songs)
                        {
                            <li class="list-group-item" @onclick="PlayCurrentSong">
                                <span class="font-weight-bold">@song.Title</span>
                                <br />
                                <span>@song.Author</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="song_panel p-2">
        <div class="song_info pt-4">
            <h2>@Playlist.CurrentSong.SongFullName</h2>
            <div class="progressbar_slide pt-2">
                <input type="range" min="0" max="100" @bind="ElapsedPrecentSongTime" />
            </div>
        </div>
        <div class="song_controls m-2">
            <div class="controls_plays">

                <div id="prev_btn" @onclick="PlayPreviousSong">
                    <i class="fas fa-2x fa-backward"></i>
                </div>
                @if (!audioPlayer.IsSongPlaying)
                {
                    <div id="play_btn" @onclick="PlayCurrentSong">
                        <i class="fas fa-2x fa-play"></i>
                    </div>
                }
                else
                {
                    <div id="pause_btn" @onclick="PauseCurrentSong">
                        <i class="fas fa-2x fa-pause"></i>
                    </div>
                }
                <div id="next_btn" @onclick="PlayNextSong">
                    <i class="fas fa-2x fa-forward"></i>
                </div>
            </div>
        </div>

        @if (!IsPlaylistWindowVisible)
        {
            <div id="extends_btn" @onclick="ShowPlaylist">
                <i class="fas fa-2x fa-level-up-alt"></i>
            </div>
        }
        else
        {
            <div id="extends_btn" @onclick="HidePlaylist">
                <i class="fas fa-2x fa-level-down-alt"></i>
            </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Playlist = playlistService.GetPlaylist();
        SliderTimer.Elapsed += UpdateSlider;
        elapsedPrecentSongTime = 0;
        audioPlayer.AttachSong(Playlist.CurrentSong.SongUrl);
    }

    public bool IsPlaylistWindowVisible { get; set; }
    private void ShowPlaylist(MouseEventArgs args) => IsPlaylistWindowVisible = true;
    private void HidePlaylist(MouseEventArgs args) => IsPlaylistWindowVisible = false;

    private int elapsedPrecentSongTime;
    public int ElapsedPrecentSongTime
    {
        get
        {
            return elapsedPrecentSongTime;
        }
        set
        {
            elapsedPrecentSongTime = value;
            RewindSong(elapsedPrecentSongTime);
        }
    }
    private Timer SliderTimer { get; } = new Timer()
    {
        AutoReset = true,
        Enabled = true,
        Interval = 1000
    };
    private async void UpdateSlider(Object source, ElapsedEventArgs e)
    {
        elapsedPrecentSongTime = await audioPlayer.GetElapsedTime();
        StateHasChanged();
    }

    private Playlist Playlist { get; set; }
    private async Task PlayCurrentSong(MouseEventArgs args)
    {
        await audioPlayer.Play();
        SliderTimer.Start();
    }
    private async Task PauseCurrentSong(MouseEventArgs args)
    {
        await audioPlayer.Pause();
        SliderTimer.Stop();
    }
    private async Task PlayNextSong(MouseEventArgs args)
    {
        Playlist.SwitchToNextSong();
        await audioPlayer.AttachSong(Playlist.CurrentSong.SongUrl);
        await audioPlayer.Play();
    }
    private async Task PlayPreviousSong(MouseEventArgs args)
    {
        Playlist.SwitchToPreviousSong();
        await audioPlayer.AttachSong(Playlist.CurrentSong.SongUrl);
        await audioPlayer.Play();
    }
    private void RewindSong(int durationPercent)
    {
        audioPlayer.SetTrackAtTime(durationPercent);
    }
}
